<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymleaf.org">
<head th:replace="~{fragments/title}"></head>
<body>
<div>
    <h2 align="center">To Do List Application</h2>
    <div class="container mt-3">
        <div class="row align-items-start mb-5" align="center">
            <div class="col">
                <a th:href="@{/index}">
                    Главная
                </a>
            </div>
            <div class="col">
                <a th:href="@{/index/active}">
                    Активные
                </a>
            </div>
            <div class="col">
                <a th:href="@{/index/completed}">
                    Завершенные
                </a>
            </div>
            <div class="col">
                <a th:href="@{/index/postponed}">
                    Отложенные
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-start" th:each="todo, iter : ${todo}">
            <div class="col-5" a="btn btn-light">
<!--                'User is of type ' + (${user.isAdmin()} ? 'Administrator' : (${user.type} ?: 'Unknown'))-->
                <p style ="background: ##ffffff;" th:styleappend = "${todo.isCompleted} ? 'color: gray' : (${todo.isPostponed} ?: 'color: red')">[[${todo.title}]]</p>
<!--                <p style ="background: ##ffffff;" th:styleappend = "${todo.isCompleted} ? 'color: gray' : 'color: black'">[[${todo.title}]]</p>-->
            </div>
            <div class="col">
                <a th:href="@{/changeOfStatusCompleted/{id}(id = ${todo.id})}">
                    <button type="button" class="btn btn-secondary">Завершенно</button>
                </a>
            </div>
            <div class="col">
                <a th:href="@{/changeOfStatusPostponed/{id}(id = ${todo.id})}">
                    <button type="button" class="btn" th:classappend="${todo.isPostponed ? 'btn-dark' : 'btn-danger'}"  th:text="${todo.isPostponed} ? 'Active' : 'Postponed' "></button>
                </a>
            </div>
            <div class="col">
                <a th:href="@{/delete/{id}(id = ${todo.id})}">
                    <button type="button" a="btn btn-light">Удалить</button>
                </a>
            </div>
            <div class="col">
                    <button type="button" class="btn btn-success">Приоритет</button>
            </div>
        </div>
        <div row mr-5>
            <a th:href="@{/add}">
                <button type="button" class="btn btn-outline-primary">Добавить задачу</button>
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li th:class="'page-item ' + ${number == 0 ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/index/{id}(id = ${number})}" tabindex="-1">Previous</a>
                    </li>
                    <li>
                        <a class="page-link" th:href="@{/index/{id}(id = ${number}+2)}" tabindex="-1">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div th:insert="~{fragments/scripts}"> </div>
</body>
</html>