<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymleaf.org">
<head th:replace="~{fragments/title}"></head>
<body>
<div>
    <h2 align="center">To Do List Application</h2>
    <div class="container mt-3">
        <div class="row align-items-start mb-5" align="center">
            <div class="col">
                <a th:href="@{/index}">
                    Главная
                </a>
            </div>
            <div class="col">
                <a th:href="@{/index/active}">
                    Активные
                </a>
            </div>
            <div class="col">
                <a th:href="@{/index/completed}">
                    Завершенные
                </a>
            </div>
            <div class="col">
                <a th:href="@{/index/postponed}">
                    Отложенные
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-start" th:each="todo, iter : ${todo}">
                <div class="col-5">

                    <div class="text-left">
<!--                    th:style="${todo.isCompleted == true} ? '${todo.title == background-color: red }' : 'background-color: green'">-->

                    <!--                <p style ="background: ##ffffff;" th:styleappend = "${todo.isCompleted} ? 'color: gray' : 'color: green'">[[${todo.title}]]</p>-->

                        <p style ="width:500px" th:styleappend = "${todo.isCompleted == true} ?
                        'width:500px;border-bottom: solid 3px gray;padding-left:10px' : 'width:500px;border-bottom: solid 3px black;padding-left:10px' ">
                            [[${todo.title}]]
                        </p>

                    <!--                <p th:style="${todo.isPostponed == true} ? 'background-color: green' : 'background-color: red'">[[${todo.title}]]</p>-->
                    <!--                <th:iterator value="todo" status="stat">-->
                    <!--                    <tr>-->
                    <!--                        <td><th:property value="todo [#todo.].name" /></td>-->
                    <!--                        <td><th:property value="userList [#stat.index].login" /></td>-->
                    <!--                        <td><th:property value="userList [#stat.index].email" /></td>-->
                    <!--                    </tr>-->
                    <!--                </th:iterator>-->

<!--                    [[${todo.title}]]-->
                    </div>
                </div>

                <div class="col">
                    <a th:href="@{/changeOfStatusCompleted/{id}(id = ${todo.id})}">
                        <button type="button">
    <!--                            class="btn" th:style="${todo.isCompleted == true} ? '${todo.title == background-color: yellow}' : 'background-color: green'"-->
                        Завершенно
                        </button>
                    </a>

    <!--                <span th:if="${student.gender} == 'M'" th:text="Male" />-->
    <!--                <span th:unless="${student.gender} == 'M'" th:text="Female" />-->

    <!--                <th:iterator value="userList" status="stat">-->
    <!--                    <tr>-->
    <!--                        <td><th:property value="userList [#stat.index].name" /></td>-->
    <!--                        <td><th:property value="userList [#stat.index].login" /></td>-->
    <!--                        <td><th:property value="userList [#stat.index].email" /></td>-->
    <!--                    </tr>-->
    <!--                </th:iterator>-->


                </div>

                <div class="col">
                    <a th:href="@{/changeOfStatusPostponed/{id}(id = ${todo.id})}">
                        <button type="button" style="border-radius: 5px;" th:text="${todo.isPostponed} ? 'Active' : 'Postponed' ">
    <!--                            class="btn" th:classappend="${todo.isPostponed ? 'btn-dark' : 'btn-danger'}"  -->
                        </button>
                    </a>
                </div>

                <div class="col">
                    <a th:href="@{/delete/{id}(id = ${todo.id})}">
                        <button type="button" a="btn btn-light">Удалить</button>
                    </a>
                </div>
                <div class="col">
                        <button type="button">Приоритет</button>
                </div>
        </div>
        <div row mr-5>
            <a th:href="@{/add}">
                <button type="button" class="btn btn-outline-primary">Добавить задачу</button>
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li th:class="'page-item ' + ${number == 0 ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/index/{id}(id = ${number})}" tabindex="-1">Previous</a>
                    </li>
                    <li>
                        <a class="page-link" th:href="@{/index/{id}(id = ${number}+2)}" tabindex="-1">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div th:insert="~{fragments/scripts}"> </div>
</body>
</html>